body {
    margin: 0;
}
.header-menu {
    background-color: lightgrey;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
}
.header-menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.header-menu a:hover {
    background: #ddd;
    color: black;
  }
.main-container {
padding: 1rem;
margin-top: 2rem;
height: auto;
}