{% extends "main/header.html" %}
{% block content %}
    <div>
        {% include "main/includes/forms/create-todo-form.html" %}
        <div>
            <h1>TODOS PAGE</h1>
            <a href="">Create new TODO</a>
            {% for todo in todos %}
                <h2>{{todo.title}}</h2>
                <p>{{todo.content}}</p>
                <p>created by: {{todo.author}}</p>
                <p>created at:{{todo.created_at}}</p>
                <a href="{% url 'main:update_todo' todo_id=todo.id %}">Edit</a>
                <a href="{% url 'main:delete_todo' todo_id=todo.id %}">Delete</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}